.NavLinkStyle{
    text-decoration: none;
    color:black;
}
.Navbar{
    display:flex;
    gap:8px;
}

.NavItem{
    border:2px solid black;
    border-radius: 10px;
}

.NavLinkStyle.active{
    color: orange;
    font-weight:bold;
}

.NavItem:hover{
    
    border:3px solid black;
    border-radius: 5px;
}
.NavLinkStyle:hover{
    color:orangered;
    font-weight:bold;
}